[Unit]
Description=Wifi Usage Monitor
After= NetworkManager.service
Requires=NetworkManager.service

[Service]
Type=exec
Restart=on-failure
RestartSec=5
ExecStart=/path/to/executable

[Install]
WantedBy=multi-user.target